<div>
    <input data-dojo-attach-point="checkboxNode"
    data-dojo-attach-event="onChange: _checkboxValueChanged"
    data-dojo-type="dijit/form/CheckBox"
    checked=${checked} />

    <img data-dojo-attach-point="imgNode"
    src="data:image/png;base64,${imgData}"
    alt="legend symbol"
    style="opacity:0.5"/>

    <label>${displayName}</label>

    <div data-dojo-attach-point="horizontalSliderNode"
    data-dojo-attach-event="onChange: _sliderValueChanged"
    style="width: 100%; margin-top: 8px; margin-bottom: 16px;"
    data-dojo-type="dijit/form/HorizontalSlider"
    data-dojo-props="value: 0.5,
    minimum: 0.0,
    maximum: 1.0,
    intermediateChanges: true,
    showButtons: false">
</div>
</div>
